body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.text,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero,
.footer {
    background-color: #1f2937;
}

.header {
    font-size: 24px;
    color: #f9faf8;
}

.main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}